<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.sven-wiegand.jira</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3AF9D582-77F5-4E8F-AC7F-A6CD5D8B0F07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E3F0489-4ABB-4C11-83C0-C5E916A62964</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E3F0489-4ABB-4C11-83C0-C5E916A62964</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDD8A1B5-741B-4C85-A114-49D15F06595F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D35B4C2E-529E-4AA1-8833-F4D132469A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>848F9544-95E1-4D89-9514-8FC7EAE47FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDD8A1B5-741B-4C85-A114-49D15F06595F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D35B4C2E-529E-4AA1-8833-F4D132469A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sven Wiegand</string>
	<key>description</key>
	<string>Search Jira Projects, Boards and Issues</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"board","arg":"board|Search board by name","subtitle":"Search board by name"},{"title":"filter","arg":"filter|Search saved filter by name","subtitle":"Search saved filter by name"},{"title":"issue","arg":"issue|Search issue by key or content – filter by '@project' and '#issuetype'","subtitle":"Search issue by key or content – filter by '@project' and '#issuetype'"},{"title":"jql","arg":"jql|Search issue using JQL","subtitle":"Search issue using JQL"},{"title":"project","arg":"project|Search project by name","subtitle":"Search project by name"}]</string>
				<key>keyword</key>
				<string>jira</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Tap &lt;space&gt; for Jira search modes…</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>3AF9D582-77F5-4E8F-AC7F-A6CD5D8B0F07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching Jira…</string>
				<key>script</key>
				<string>/usr/bin/python main.py "$mode" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:modeSubtitle}</string>
				<key>title</key>
				<string>jira {var:mode}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D35B4C2E-529E-4AA1-8833-F4D132469A34</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>848F9544-95E1-4D89-9514-8FC7EAE47FF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{var:mode1}</string>
					<key>modeSubtitle</key>
					<string>{var:mode2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DDD8A1B5-741B-4C85-A114-49D15F06595F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>|</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>mode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>9E3F0489-4ABB-4C11-83C0-C5E916A62964</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search Jira issues, boards, filters and projects using search suggestions.

See details for setup and usage at https://github.com/svenwiegand/alfred-jira-search</string>
	<key>uidata</key>
	<dict>
		<key>3AF9D582-77F5-4E8F-AC7F-A6CD5D8B0F07</key>
		<dict>
			<key>note</key>
			<string>Select Jira search mode and pass on mode name and placeholder subtitle as "mode|subtitle"</string>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>848F9544-95E1-4D89-9514-8FC7EAE47FF7</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>9E3F0489-4ABB-4C11-83C0-C5E916A62964</key>
		<dict>
			<key>note</key>
			<string>Split mode and subtitle into "mode1" and "mode2"</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>D35B4C2E-529E-4AA1-8833-F4D132469A34</key>
		<dict>
			<key>note</key>
			<string>Perform search</string>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>DDD8A1B5-741B-4C85-A114-49D15F06595F</key>
		<dict>
			<key>note</key>
			<string>Assign mode and subtitle into variables "mode" and "modeSubtitle"</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>domain</key>
		<string>orgavision.atlassian.net</string>
		<key>password</key>
		<string>2Q7UuPkMK0LAO5j2HOMQD84D</string>
		<key>username</key>
		<string>sven.wiegand@orgavision.com</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>password</string>
		<string>username</string>
		<string>domain</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
